{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1></h1>

    <h4>相关功能开发中...</h4>

</div>

<!-- 水印效果 -->
<div class="watermark-container">
    <img src="/static/images/tsinghua-logo.png" alt="水印" class="watermark">
</div>

<style>
.watermark-container {
    position: relative;
    width: 500%;
    height: 500%;
}

.watermark {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 450px;
    height: auto;
    opacity: 0.3;
    z-index: 9999;
    pointer-events: none;
    user-select: none;
    max-width: 25vw;
    max-height: 40vh;
    object-fit: contain;
}

.watermark:hover {
    opacity: 0.5;
}
</style>
{% endblock %}